* {
  box-sizing: border-box;
  border-collapse: collapse;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  font-family: monospace;
  border-collapse: collapse;
}

button {
  cursor: pointer;
  user-select: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.inner {
  width: 100%;
  border: 1px solid grey;
  padding: 10px 20px;
  min-height: 37px;
}

.title {
  margin: 20px 0;
}

.subtitle {
  margin: 20px 0;
  font-weight: 100;
}

.list {
  border: 1px solid grey;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 10px 20px;
}

.input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-family: inherit;
}

.button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}